body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
.App{
  display:flex;
  
}
.App .btn{
  background-color: red;
  
}
.App .btn:hover{
cursor: pointer;  
}
.container{
  position: relative;
  display: inline-block;

}
.tooltip{
  position: absolute;
  top:calc(-100% -50px);
  transform: translate(-50%);
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  min-width: 200px;
}


